Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

123
  1.txt
  yarn.lock
Due: none

fix: code formatting not work
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update version
  package.json
Due: prettier --write

chore: update version to v0.21.1
  package.json
Due: prettier --write

Update web.yml
  .github/workflows/web.yml
Due: prettier --write

chore: add cloudfront automatic flush cdn
  .github/workflows/web.yml
Due: prettier --write

chore: add cloudfront automatic flush cdn (#73)
  .github/workflows/web.yml
Due: prettier --write

fix: webpack splitchunks
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

refactor(tailwindcss): use postcss-loader and enable JIT
  package.json
  src/react.js
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  webpack.main.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update version to v0.22.0
  package.json
Due: prettier --write

chore: update cloudfront ak/sk
  .github/workflows/web.yml
Due: prettier --write

refactor(css): generate Tailwind CSS and try to add to webpack
  config-overrides.js
  package.json
  src/react.js
  src/scss/tailwindcss.scss
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: create tailwind css config (#54)
  .eslintrc
  .gitignore
  config-overrides.js
  package.json
  postcss.config.js
  src/components/Header.js
  src/react.js
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  webpack.main.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: deps cause ci failed
  package.json
  yarn.lock
Due: prettier --write

refactor: move button styles to the root project
  package.json
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

refactor: move button styles to the root project (#77)
  package.json
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

Revert "refactor: move button styles to the root project (#77)"
  package.json
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

Revert "refactor: move button styles to the root project (#77)" (#78)
  package.json
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

Revert "feat: create tailwind css config (#54)"
  .eslintrc
  .gitignore
  config-overrides.js
  package.json
  postcss.config.js
  src/react.js
  src/scss/tailwindcss.scss
  src/tailwind.pcss
  tailwind.config.js
  webpack.main.config.js
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update to v0.23.0
  package.json
Due: prettier --write

fix: replace yarn.lock file resource dependency address
  yarn.lock
Due: none

fix: replace yarn.lock file resource dependency address (#80)
  yarn.lock
Due: none

feat: redirect path after login
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: redirect path after login (#81)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add welcome page
  src/components/Routes/WelcomePage.js
  src/components/Routes/index.js
  src/components/discord.png
  src/components/github.png
  src/scss/welcomepage.scss
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: add welcome page
  src/components/Routes/WelcomePage.js
  src/components/coin.webp
  src/components/erc20.webp
  src/components/erc721.webp
  src/scss/welcomepage.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

feat: add welcome page (#82)
  src/components/Routes/WelcomePage.js
  src/components/Routes/index.js
  src/components/coin.webp
  src/components/discord.png
  src/components/erc20.webp
  src/components/erc721.webp
  src/components/github.png
  src/scss/welcomepage.scss
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: welcome page add login button
  src/components/Routes/WelcomePage.js
  src/scss/welcomepage.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update version to v0.24.0
  package.json
Due: prettier --write

feat: custom network can display transaction history
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

feat: custom network add networkId
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

feat: custom network add networkId property (#84)
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

fix: add custom network with metamask address
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

chore: set development env
  .github/workflows/main.yml
Due: prettier --write

chore: update the development build script
  .github/workflows/main.yml
Due: prettier --write

chore: electron-main build workflow
  .github/workflows/main.yml
  package.json
Due: prettier --write

fixup! chore: electron-main build workflow
  .github/workflows/main.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,json,md,yaml,yml}) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: any of: **/*.{scss, css}
  import-sort --write: any of: **/*.{js,jsx,ts,tsx}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
