Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

Feat/ethereum studio name change to black ide (#40)
  .env
  .env.development
  .env.local
  README-CN.md
  README.md
  config-overrides.js
  envs/.env.bsn
  envs/.env.bsn.test
  package.json
  public/manifest.json
Due: prettier --write, import-sort --write, eslint --fix

feat: update to dart sass
  package.json
  yarn.lock
Due: prettier --write

feat: update to dart sass (#42)
  package.json
  yarn.lock
Due: prettier --write

chore: update lock
  yarn.lock
Due: none

chore: update build time format
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: stringfy env
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update v0.14.7-rc.1
  package.json
Due: prettier --write

chore: update project name in the workflow
  .github/workflows/main.yml
  .github/workflows/web-bsn.test.yml
  .github/workflows/web-bsn.yml
  .github/workflows/web.yml
Due: prettier --write

chore: disable release event of web
  .github/workflows/web.yml
Due: prettier --write

chore: update webpack config
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update screenshots
  screenshots/abi.png
  screenshots/balanceof.png
  screenshots/compile.png
  screenshots/contract.png
  screenshots/create_instance.png
  screenshots/create_keypairs.png
  screenshots/create_project.png
  screenshots/deploy.png
  screenshots/deploy_parameters.png
  screenshots/editor.png
  screenshots/erc_20.png
  screenshots/event_log.png
  screenshots/explorer.png
  screenshots/import_keypairs.png
  screenshots/keypairs.png
  screenshots/linter.png
  screenshots/network_selector.png
  screenshots/new_abi.png
  screenshots/node_log.png
  screenshots/project_setting.png
  screenshots/rpc_client.png
  screenshots/studio.png
  screenshots/transactions.png
  screenshots/transfer.png
  screenshots/transfer_call.png
  screenshots/welcome.png
Due: none

chore: update readme file and screenshots
  README-CN.md
  README.md
  screenshots/create_instance.png
  screenshots/keypairs.png
Due: prettier --write

chore: update version to v0.14.7
  package.json
Due: prettier --write

Update README-CN.md
  README-CN.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: readme.md file change IDE jump address
  README-CN.md
  README.md
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

fix: wrong jump address englist document
  README-CN.md
  package.json
Due: prettier --write

fix: readme.md file change IDE jump address (#45)
  README-CN.md
  README.md
  config-overrides.js
  package.json
Due: prettier --write, import-sort --write, eslint --fix

chore: update version to v0.14.8
  package.json
Due: prettier --write

chore: update version
  package.json
Due: prettier --write

chore: update version to v0.15.0
  package.json
  yarn.lock
Due: prettier --write

chore: update release to v0.15.0 (#46)
  package.json
  yarn.lock
Due: prettier --write

chore: update verstion to v0.15.1
  package.json
Due: prettier --write

fix: nav right custom network show list
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

fix: custom network show list
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add network status redux
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add network status redux (#50)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: improve custom network options
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

fix: env and workflow
  .env
  .env.development
  .env.production
  .github/workflows/web.yml
  package.json
Due: prettier --write

feat: improve custom network options (#51)
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

fix: custom network name display
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update the rc version
  package.json
Due: prettier --write

feat: improve network connect status
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/components/Header.js
  src/scss/index.scss
  yarn.lock
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update to v0.15.2
  package.json
Due: prettier --write

chore: add test artifact build support
  .github/workflows/main.yml
Due: prettier --write

chore: add test artifact build support (#52)
  .github/workflows/main.yml
Due: prettier --write

chore: add dispatch event
  .github/workflows/main.yml
Due: prettier --write

fix: assets upload job
  .github/workflows/main.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,json,md,yaml,yml}) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: any of: **/*.{scss, css}
  import-sort --write: any of: **/*.{js,jsx,ts,tsx}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
