Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,json,md,yaml,yml}": ["prettier --write"],
  "**/*.{scss, css}": ["stylelint"],
  "**/*.{js,jsx,ts,tsx}": [
    "import-sort --write",
    "prettier --write",
    "eslint --fix"
  ]
}

chore: udpate needs
  .github/workflows/release.yml
Due: prettier --write

poc: try to reduce the web bundle size (#26)
  .babelrc
  .github/workflows/web.yml
  config-overrides.js
  package.json
  src/ReduxApp.js
  src/components/Routes/Project.js
  src/components/Routes/index.js
  src/react.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update web
  .github/workflows/web.yml
Due: prettier --write

chore: update web workflow
  .github/workflows/web.yml
Due: prettier --write

chore: add development env support
  .env.development
  .github/workflows/web.yml
  package.json
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

chore: update devlopment env
  .env.development
Due: none

chore: bump version
  package.json
Due: prettier --write

chore: bump verstion to v0.14.0
  package.json
Due: prettier --write

chore: update workflow about cp env
  .github/workflows/web.yml
Due: prettier --write

chore: update workflow to match master branch
  .github/workflows/main.yml
Due: prettier --write

fixup! chore: update workflow to match master branch
  .github/workflows/main.yml
Due: prettier --write

fix: workflow branch match
  .github/workflows/main.yml
Due: prettier --write

fix: local dev env
  .env.local
  .gitignore
  package.json
Due: prettier --write

chore: add local env
  .env.local
  .gitignore
  package.json
Due: prettier --write

chore(bump-version): update release for hotfix
  package.json
Due: prettier --write

chore(release): bump version v0.14.2
  package.json
Due: prettier --write

chore: bump verstion to v0.14.3
  package.json
Due: prettier --write

chore: bump version to v0.14.4
  package.json
Due: prettier --write

chore: update env info
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update commit_id value to be string
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: bump version to v0.14.5
  package.json
Due: prettier --write

chore: update version
  package.json
Due: prettier --write

fix: prettier standalone method error
  package.json
  yarn.lock
Due: prettier --write

fix: prettier standalone method error (#37)
  package.json
  yarn.lock
Due: prettier --write

fix: react error layer will cover the whole screen
  package.json
  src/components/Routes/Project.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: react error layer will cover the whole screen (#38)
  package.json
  src/components/Routes/Project.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix: error when item data is null
  src/components/Routes/Project.js
Due: prettier --write, import-sort --write, eslint --fix

fix: error when item data is null (#39)
  src/components/Routes/Project.js
Due: prettier --write, import-sort --write, eslint --fix

fix: local start error
  yarn.lock
Due: none

feat: the ethereum studio name change to black ide
  .env
  .env.local
  README-CN.md
  README.md
  package.json
  public/manifest.json
Due: prettier --write

fix: readme files change
  README-CN.md
  README.md
Due: prettier --write

fix: env files change studio name
  .env.development
  config-overrides.js
  envs/.env.bsn
  envs/.env.bsn.test
Due: prettier --write, import-sort --write, eslint --fix

fix: update env, reduxApp and userhomepage
  .env
  .env.development
  .env.local
  src/ReduxApp.js
  src/components/Routes/UserHomepage.js
Due: prettier --write, import-sort --write, eslint --fix

fix: update env, reduxApp and userhomepage (#41)
  .env
  .env.development
  .env.local
  src/ReduxApp.js
  src/components/Routes/UserHomepage.js
Due: prettier --write, import-sort --write, eslint --fix
