Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,json,md,yaml,yml}": ["prettier --write"],
  "**/*.{scss, css}": ["stylelint"],
  "**/*.{js,jsx,ts,tsx}": [
    "import-sort --write",
    "prettier --write",
    "eslint --fix"
  ]
}

chore: update version to v0.25.0
  package.json
Due: prettier --write

chore: update version to v0.26.0
  package.json
Due: prettier --write

chore(config): add just-in-time Tailwind CSS
  config-overrides.js
  package.json
  postcss.config.js
  src/ReduxApp.js
  src/react.js
  src/scss/tailwind.pcss
  tailwind.config.js
  webpack.main.config.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

refactor(components): port `Jumbotron`
  tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

chore(config): add `Badge` related Tailwind CSS configs
  tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: keep network state in redux
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: keep network state in redux (#87)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update to v0.27.0
  package.json
Due: prettier --write

chore: update to v0.27.1
  package.json
Due: prettier --write

feat: adjust network drop-down list UI interface
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update metadata
  public/index.html
Due: none

fix: changing the networks source data
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update the workflow workpath
  .github/workflows/web.yml
Due: prettier --write

feat: adjust network drop-down list UI interface (#88)
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

feat: update env variable
  .env
Due: none

feat: update env variable (#90)
  .env
Due: none

chore: reset env variable
  .env
Due: none

Revert "feat: update env variable (#90)"
  .env
Due: none

Revert "feat: update env variable (#90)" (#92)
  .env
Due: none

fix: fix-welcomeproblem
  src/components/Routes/logo_ide.png
  src/components/pics/icon_contract.png
  src/components/pics/icon_createproject.png
  src/components/pics/icon_document.png
  src/components/pics/icon_explorer.png
  src/components/pics/icon_network.png
  src/components/pics/icon_project.png
  src/components/pics/icon_sampleproject.png
  src/components/pics/logo_discord.png
  src/components/pics/logo_github.png
Due: none

fix: fix welcome page problem
  .env
  src/components/Routes/WelcomePage.js
  src/scss/welcomepage.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: go to definition unavailable in monaco-editor
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

fix: go to definition unavailable in monaco-editor (#94)
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

fix: fix the welcome page layout
  src/components/Routes/WelcomePage.js
  src/components/coin.webp
  src/components/discord.png
  src/components/erc20.webp
  src/components/erc721.webp
  src/components/github.png
  src/components/pics/icon_contract.png
  src/components/pics/icon_createproject.png
  src/components/pics/icon_document.png
  src/components/pics/icon_explorer.png
  src/components/pics/icon_network.png
  src/components/pics/icon_project.png
  src/components/pics/icon_sampleproject.png
  src/components/pics/logo_discord.png
  src/components/pics/logo_github.png
  src/scss/welcomepage.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: add svg files
  src/components/pics/icon_contract.svg
  src/components/pics/icon_createproject.svg
  src/components/pics/icon_discord_white.svg
  src/components/pics/icon_document.svg
  src/components/pics/icon_explorer.svg
  src/components/pics/icon_network.svg
  src/components/pics/icon_project.svg
  src/components/pics/icon_sampleproject.svg
  src/components/pics/logo_blackide.png
  src/components/pics/logo_github_white.svg
Due: none

fix: fix the welcome page layout (#95)
  src/components/Routes/WelcomePage.js
  src/components/coin.webp
  src/components/discord.png
  src/components/erc20.webp
  src/components/erc721.webp
  src/components/github.png
  src/components/pics/icon_contract.png
  src/components/pics/icon_contract.svg
  src/components/pics/icon_createproject.png
  src/components/pics/icon_createproject.svg
  src/components/pics/icon_discord_white.svg
  src/components/pics/icon_document.png
  src/components/pics/icon_document.svg
  src/components/pics/icon_explorer.png
  src/components/pics/icon_explorer.svg
  src/components/pics/icon_network.png
  src/components/pics/icon_network.svg
  src/components/pics/icon_project.png
  src/components/pics/icon_project.svg
  src/components/pics/icon_sampleproject.png
  src/components/pics/icon_sampleproject.svg
  src/components/pics/logo_blackide.png
  src/components/pics/logo_discord.png
  src/components/pics/logo_github.png
  src/components/pics/logo_github_white.svg
  src/scss/welcomepage.scss
Due: prettier --write, stylelint, import-sort --write, eslint --fix

fix: update env variable
  .env
Due: none

fix: update env variable (#96)
  .env
Due: none

chore: update version to v0.28.0
  package.json
Due: prettier --write

Add just-in-time Tailwind CSS via PostCSS (#86)
  config-overrides.js
  package.json
  postcss.config.js
  src/ReduxApp.js
  src/react.js
  src/scss/tailwind.pcss
  tailwind.config.js
  webpack.main.config.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update to v0.28.1
  package.json
Due: prettier --write

chore(config): disable default Tailwind CSS preflight
  tailwind.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat(tailwind): add custom preflight and remove `important`
  package.json
  postcss.config.js
  src/scss/preflight.pcss
  src/scss/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

fix(tailwind): make Tailwind CSS preflight optional (#97)
  package.json
  postcss.config.js
  src/scss/preflight.pcss
  src/scss/tailwind.pcss
  tailwind.config.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update to v0.29.0
  package.json
Due: prettier --write

chore: update to v0.30.0
  package.json
Due: prettier --write

feat: add erc1155 template as shortcut in welcome page
  src/components/Routes/WelcomePage.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add erc1155 template as shortcut in welcome page (#98)
  src/components/Routes/WelcomePage.js
Due: prettier --write, import-sort --write, eslint --fix

fix: cloud project compile error add some console
  public/solc.js
Due: prettier --write, import-sort --write, eslint --fix

fix: cloud project compile error add some console (#99)
  public/solc.js
Due: prettier --write, import-sort --write, eslint --fix
