Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,json,md,yaml,yml}": ["prettier --write"],
  "**/*.{scss, css}": ["stylelint"],
  "**/*.{js,jsx,ts,tsx}": [
    "import-sort --write",
    "prettier --write",
    "eslint --fix"
  ]
}

feat: the desktop redux add workspce parameters
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: the desktop redux add workspce parameters (#53)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

fix(build): use dotenv instead of replacing env
  .github/workflows/web.yml
Due: prettier --write

chore: improve build flow
  .env.production
  .github/workflows/main.yml
  .github/workflows/web.yml
  package.json
  src.main/createMenu.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

0.15.3
  package.json
Due: prettier --write

chore: update to v0.15.3
  package.json
Due: prettier --write

chore: update to v0.15.4
  package.json
Due: prettier --write

chore: improve build env config
  .env.staging
  yarn.lock
Due: none

chore: add debug menu for dev env
  .github/workflows/main.yml
Due: prettier --write

fixup! chore: improve build env config
  .env.production
  .env.staging
  yarn.lock
Due: none

chore(build): improve workflow
  .github/workflows/main.yml
Due: prettier --write

chore(build): update build dir
  .github/workflows/main.yml
Due: prettier --write

chore: clean workflow
  .github/workflows/main.yml
Due: prettier --write

chore(build): improve web workflow
  .github/workflows/web.yml
Due: prettier --write

fix: webpack build env
  webpack.main.config.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update browserslist
  package.json
  yarn.lock
Due: prettier --write

chore: update to v0.16.0
  package.json
Due: prettier --write

fix: multiple instance failed
  src.main/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: multiple instance failed (#55)
  src.main/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: multiple instance failed (#56)
  src.main/index.js
Due: prettier --write, import-sort --write, eslint --fix

fix: changed network custom modal display status
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

fix: changed network custom modal display status (#57)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update to v0.17.0
  package.json
Due: prettier --write

feat: create tailwind css config
  .eslintrc
  .gitignore
  package.json
  postcss.config.js
  src/react.js
  src/scss/tailwindcss.scss
  tailwind.config.js
Due: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update web needs condition
  .github/workflows/web.yml
Due: prettier --write

chore: update to v0.17.1
  package.json
Due: prettier --write

chore: update to v0.17.1 (#58)
  package.json
Due: prettier --write

chore:add the request ID to the discord-robot
  .github/workflows/main.yml
Due: prettier --write

chore:add the request ID to the discord-robot (#59)
  .github/workflows/main.yml
Due: prettier --write

chore: merge back (#60)
  .github/workflows/main.yml
  .github/workflows/web.yml
  package.json
Due: prettier --write

test fix
  b.b
Due: none

chore:demo text
  .github/workflows/demo.yml
Due: prettier --write

text
  .github/workflows/demo.yml
Due: prettier --write

docs: update the readme-cn
  README-CN.md
  screenshots/Disconnected.png
  screenshots/NetworkSelect.png
  screenshots/Private.png
  screenshots/balanceof01.png
  screenshots/compile01.png
  screenshots/contract01.png
  screenshots/create_instance01.png
  screenshots/editor01..png
  screenshots/editor01.png
  screenshots/event_log01.png
  screenshots/explorer01.png
  screenshots/linter01.png
  screenshots/node_log01.png
  screenshots/project_setting01.png
  screenshots/public.png
  screenshots/share.png
  screenshots/transfer01.png
  screenshots/transfer_call01.png
Due: prettier --write

Update README-CN.md
  README-CN.md
Due: prettier --write

fix: custom network modal add status toggle
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

fix: custom network modal add status toggle (#62)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add ga basic support
  .env.production
  config-overrides.js
  package.json
  src/App.js
  webpack.main.config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: add ga basic support (#63)
  .env.production
  config-overrides.js
  package.json
  src/App.js
  webpack.main.config.js
Due: prettier --write, import-sort --write, eslint --fix
