Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

chore: update to v0.18.0
  package.json
Due: prettier --write

Update web.yml
  .github/workflows/web.yml
Due: prettier --write

Update demo.yml
  .github/workflows/demo.yml
Due: prettier --write

1
  .github/workflows/demo2
Due: none

Rename demo2 to github-actions-demo
  .github/workflows/github-actions-demo
Due: none

Update github-actions-demo
  .github/workflows/github-actions-demo
Due: none

1
  .github/workflows/github-actions-demo
Due: none

333
  .github/workflows/demo.yml
Due: prettier --write

1231
  .github/workflows/demo.yml
Due: prettier --write

323
  .github/workflows/demo.yml
Due: prettier --write

2222222222222222
  .github/workflows/demo.yml
Due: prettier --write

TEST
  .github/workflows/demo.yml
Due: prettier --write

12313231
  .github/workflows/demo.yml
Due: prettier --write

12
  .github/workflows/demo.yml
Due: prettier --write

ttttttttttt
  .github/workflows/demo.yml
Due: prettier --write

update
  .github/workflows/demo.yml
Due: prettier --write

444
  .github/workflows/demo.yml
Due: prettier --write

32222222222
  .github/workflows/demo.yml
Due: prettier --write

2121
  .github/workflows/demo.yml
Due: prettier --write

21
  .github/workflows/demo.yml
Due: prettier --write

update README-CN
  README-CN.md
  screenshots/Disconnected.png
  screenshots/NetworkSelect.png
  screenshots/Private.png
  screenshots/abi.png
  screenshots/balanceof.png
  screenshots/balanceof01.png
  screenshots/compile.png
  screenshots/compile01.png
  screenshots/contract.png
  screenshots/contract01.png
  screenshots/create_instance.png
  screenshots/create_project.png
  screenshots/deploy.png
  screenshots/deploy_parameters.png
  screenshots/editor.png
  screenshots/erc_20.png
  screenshots/event_log.png
  screenshots/event_log01.png
  screenshots/explorer.png
  screenshots/import_keypairs.png
  screenshots/keypairs.png
  screenshots/linter.png
  screenshots/linter01.png
  screenshots/network_tools.png
  screenshots/new_abi.png
  screenshots/project_setting.png
  screenshots/project_setting01.png
  screenshots/public.png
  screenshots/rpc_client.png
  screenshots/share.png
  screenshots/studio.png
  screenshots/transactions.png
  screenshots/transfer.png
  screenshots/transfer01.png
  screenshots/transfer_call.png
  screenshots/transfer_call01.png
  screenshots/welcome.png
Due: prettier --write

Change images
  screenshots/create_keypairs.png
  screenshots/editor01..png
  screenshots/editor01.png
  screenshots/explorer01.png
Due: none

change image
  screenshots/node_log.png
  screenshots/node_log01.png
Due: none

change image
  README-CN.md
Due: prettier --write

Revert "change image"
  README-CN.md
Due: prettier --write

update image
  README-CN.md
Due: prettier --write

feat: project share address set as env variable
  .env
Due: none

feat: project share address set as env variable (#66)
  .env
Due: none

chore: custom network first rendering when logic
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

chore: modify some code
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

chore: custom network first rendering when logic (#67)
  src/components/Header.js
Due: prettier --write, import-sort --write, eslint --fix

123
  .github/workflows/demo.yml
  .github/workflows/新建 文本文档 (2).txt
  .github/workflows/新建 文本文档 (3).txt
  .github/workflows/新建 文本文档.txt
  1.txt
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,json,md,yaml,yml}) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: any of: **/*.{scss, css}
  import-sort --write: any of: **/*.{js,jsx,ts,tsx}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
