Repository ObsidianLabs/Black-IDE: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint, import-sort --write, eslint --fix

feat: update babel
  .babelrc
Due: none

chore: add lint and formatting tools (#24)
  .babelrc
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .importSortPrefixrc
  .importsortrc.yml
  .jsinspectrc
  .lintstagedrc.json
  .prettierrc
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

v0.14.0-rc.1
  package.json
Due: prettier --write

chore: update web action yml in test
  .github/workflows/web.yml
Due: prettier --write

chore: update web action yml in test (#25)
  .github/workflows/web.yml
Due: prettier --write

feat: update yml
  .github/workflows/web.yml
Due: prettier --write

chore: update web yml
  .github/workflows/web.yml
Due: prettier --write

add a redux
  src/components/Header.js
  src/lib/redux/config.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

remove link between test branch to test env
  .github/workflows/web.yml
Due: prettier --write

change to custom network
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update develop workflow
  .github/workflows/web.yml
Due: prettier --write

feat: auto change network after metamask changed (custom network).
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

feat: auto change network after metamask changed (custom network). (#28)
  src/lib/redux/config.js
Due: prettier --write, import-sort --write, eslint --fix

chore: add release workflow
  .github/workflows/release.yml
  yarn.lock
Due: prettier --write

chore: udpate needs
  .github/workflows/release.yml
Due: prettier --write

chore: update web
  .github/workflows/web.yml
Due: prettier --write

Pair POC branch to Test Environment
  .github/workflows/web.yml
Due: prettier --write

chore: add analyze tools
  config-overrides.js
  package.json
  src/ReduxApp.js
  src/components/Routes/index.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update package json
  package.json
Due: prettier --write

chore: update poc workflow
  .github/workflows/web.yml
Due: prettier --write

feat: inject env to window
  src/react.js
Due: prettier --write, import-sort --write, eslint --fix

chore: simplify test build script
  .github/workflows/web.yml
Due: prettier --write

chore: update build policy
  config-overrides.js
Due: prettier --write, import-sort --write, eslint --fix

chore: update
  .babelrc
  config-overrides.js
  package.json
  src/ReduxApp.js
  src/components/Routes/Project.js
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update lock
  yarn.lock
Due: none

chore: update web
  .github/workflows/main.yml
Due: prettier --write

chore: update workflow
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
Due: prettier --write

chore: make chunks type to be all
  .babelrc
  config-overrides.js
  package.json
  yarn.lock
Due: prettier --write, import-sort --write, eslint --fix

chore: update version
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,json,md,yaml,yml}) or (any of: **/*.{js,jsx,ts,tsx})
  stylelint: any of: **/*.{scss, css}
  import-sort --write: any of: **/*.{js,jsx,ts,tsx}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
